alias bluetooth=bluetoothctl
alias update='sudo pacman -Syu && yay -Syu'
alias sizes='pacman -Qi | grep '\''Name\|Size\|Description'\'' | cut -d: -f2 | paste - - - | awk -F'\''\t'\'' '\''BEGIN{ s["MiB"]=1024; s["KiB"]=1;} {split($3, a, " "); print a[1] * s[a[2]], "KiB", $1}'\'' | sort -n'
alias autoremove='sudo pacman -Rns $(pacman -Qtdq)'

# Suggested (if you have to use pip):
# alias update='sudo pacman -Syu && yay -Syu && pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | sudo xargs -n1 pip install -U'
